<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456346539625-vugkm1c6gv83rp645vvthc4tb0t1cr2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456346539625-vugkm1c6gv83rp645vvthc4tb0t1cr2e</string>
	<key>API_KEY</key>
	<string>AIzaSyBH1h4PyskClYd4e6LNECX3ROBbe4AXcWA</string>
	<key>GCM_SENDER_ID</key>
	<string>456346539625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meraketme</string>
	<key>PROJECT_ID</key>
	<string>meraketme</string>
	<key>STORAGE_BUCKET</key>
	<string>meraketme.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456346539625:ios:17d5ed1bb27993ff92b4f8</string>
</dict>
</plist>